body{
    margin: 0;
    padding: 0;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color: black;
}
#sidebar{
    position: fixed;
    width: 370px;
    height: 100%;
    background: #000;
    left: -370px;
    transition: all 0.5s linear;

}
#sidebar.active{
    left:0px;
}
#sidebar .list{
    margin-top: 20px;

}
#sidebar .list li{
    color: white;
    list-style:none;
    padding-top: 20px;
    border-bottom: 1px solid #cd7726;
    background-color: #1f1206;
    padding-left: 30px;
    padding-bottom: 25px;
    margin-bottom: 35px;
    margin-right: 30px;
}
label{
    font-family: Arial sans-serif;
    font-size: 16px;
}
select{
    text-transform: uppercase;
    font-size: 16px;
    background-color: #1f1206;
    border: hidden;
    color: white;
    margin-bottom: 35px;
    margin-right: 30px;
    border-bottom: 1px solid #cd7726;
    padding: 20px 185px 25px 60px;

}
select option{
    background-color: #aaa;
    border: hidden;

}
#sidebar .nextlist li{
    border-bottom: 0px solid black;
    padding-bottom: 3px;
    margin-bottom: 5px;
}
#sidebar .toggle-btn{
    position: absolute;
    left: 395px;
    top:20px;
    float:left;
}
#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
}
.container{
    background-color: #121314;
    /*height: 100%;*/
    /*width: 1240px;*/
    float: right;
}
.container table{
    width: 1240px;
    border-collapse:collapse;
    text-align: center;
    /*height: 840px;*/

}
.container table th{
    color: #cd7727;
    border-bottom:1px solid #777878;
    padding: 60px 10px 30px 55px;
}
.container table td{
    color:#fff;
    padding: 45px 10px 30px 55px;
}
.container table th:nth-child(1){
    border-right: 1px solid #cd7727;
}
.container td:nth-child(1){
    border-right:1px solid #777878;
}
.container tr:hover td {
    color: white;
    background-color: #3e4349;
}
footer .container{
    margin-top: 180px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cd7727;
    text-align: center;
}
footer .container p{
    color: white;
    font-weight: bold;
    font-size: 16px;
}



